

$primary-color: #424242;
$primary-color-dark: darken($primary-color, 5);

$primary-font-color: #FFFFFF;
$primary-font-color-light: lighten($primary-font-color, 20);
$primary-font-color-dark: darken($primary-font-color, 20);


$secondary-color: #ff9800;
$secondary-color-dark: darken($secondary-color, 5);

@import "bootstrap";

.box-shadows {
  -webkit-box-shadow: 10px 8px 41px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 8px 41px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 8px 41px -8px rgba(0,0,0,0.75);
}

html, body {
  height:100%;
}
.container {
  margin-bottom: 0;
  max-width: 945px;
}
.content-wrapper {
  min-height: 100%;
}
a {
  color: $primary-font-color !important;
}
.menu-button {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px)  {
  .menu-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    font-size: 30px;
    padding: 10px 20px;
  }
}
.codehater-logo {
  font-size: 26px;
  position: relative;
  display: inline-block;
  float: left;
}
.logo-slogan {
  display: inline-block;
  position: absolute;
  margin-left: -90px;
  margin-top: 30px;
}
footer {
  background: $secondary-color;
  color: $primary-font-color;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  a {
    text-decoration: underline;
  }
}
body > .container {
  padding: 0 15px 0;
}

span.glyphicon.glyphicon-menu-hamburger.mobile {
  right: 0;
  padding: 19px;
  font-size: 30px;
}

nav {
  &.mobile-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1031;
    padding: 0;
    left: 100%;
    top: 0;
    
    ul.nav {
      width: 100%;
      li {
        width: 100%;
        
      }
    }
    a {
      color: $primary-font-color-light;
      &:hover {
        background-color: $primary-color-dark !important;
        color: $primary-font-color-dark !important;
      }
      &:focus, &:active, &.active {
        color: $primary-font-color !important;
        background-color: $primary-color-dark !important;
      }
    }
  }
  background: $primary-color;
  color: $primary-font-color;
  .container {
    height: 70px;
    #navbar {
      height: 70px !important;
      ul {
        height: 70px;
        li {
          height: 70px;
          a {
            padding: 25px 15px;
          }
        }
      }
    }
  }
  .navbar-nav {
    
    height: 70px;
    a {
      color: $primary-font-color-light;
      &:hover {
        background-color: $primary-color-dark !important;
        color: $primary-font-color-dark !important;
      }
      &:focus, &:active, &.active {
        color: $primary-font-color !important;
        background-color: $primary-color-dark !important;
      }
    }
  }
}
iframe {
  width:100%;
  height:800px;
  display: block;
}
.btn-primary {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: $secondary-color;
  border: $secondary-color-dark;
  &:hover {
    background: $secondary-color-dark;
  }
  
  &:focus {
    background: $secondary-color-dark;
  }
  &:active {
    background: $secondary-color-dark;
  }
}
.banner {
  width: 70%;
  display: block;
  margin: 90px auto 0;
  position: relative;
}
h2.title {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 2.8vw;
  margin-top: 3%;
}

.image-header {
  width: 100% !important;
}
.title-container {
  position: absolute;
  width: 96%;
  height: 40%;
  margin-top: 9%;
  background: rgba(255, 255, 255, 0.7);
  margin-left: 2%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  @extend .box-shadows;
}
.page-header {
  margin: 20px 0 20px !important;
}
.portfolio-item {
  img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    height:210px;
  }
  button {
    @extend .box-shadows;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
.spacer-30 {
  height: 30px;
  width: 100%;
}

.fade-element {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: #FFF;
}

.fade-in-frame {
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  -o-animation-name: fade-in;
  animation-name: fade-in;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
  visibility: visible;
}

@-o-keyframes fade-in {
  0%   {
    display: block;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  60% {
    height: 100%;
    opacity: 1;
  }
  99% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}

@-moz-keyframes fade-in {
  0%   {
    display: block;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  60% {
    height: 100%;
    opacity: 1;
  }
  99% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes fade-in {
  0%   {
    display: block;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  60% {
    height: 100%;
    opacity: 1;
  }
  99% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0%   {
    display: block;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  60% {
    height: 100%;
    opacity: 1;
  }
  99% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}

