RewriteEngine on
Options -Multiviews
#URLs amigables
RewriteRule ^$ /app/
RewriteRule ^/$ /app/
RewriteRule ^css/(.+)\.(.+)$ /app/css/$1.$2 [L]

RewriteRule ^register$ /register.php
RewriteRule ^register$ /register.php
RewriteRule ^login$ /queries.php?operation=login
RewriteRule ^logout$ /queries.php?operation=logout
RewriteRule ^settings$ /settings.php
RewriteRule ^search$ /search.php
RewriteRule ^queries$ /queries.php
RewriteRule ^forgot_password$ /forgot.php
