doctype html
html.ng-scope(ng-app="app")
    include ./includes/head.jade
    include ./includes/navigation.jade
    body
        div.fade-element.fade-in-frame

        include ./includes/header.jade
        div.container.content-wrapper(ng-view)
        include ./includes/footer.jade