h2 Student Control System
p A Student Control System: Moodle-like system to control, students, student's exams, practices and professors, it was a very extensive project. This was created using, HTML, CSS, Boottsrap, jQPlot, Bootstrap File Uploader, Ajax clalls, Colorbox, PHPMailer, and jQuery, 
p To login as a professor, use the email ingdsag@gmail.com and the password: 123.
p To login as a student use the email martinencarmen256@gmail.com and the password 123.

a(target="_blank", href="http://ana.codehater.com")
    img.portfolio-image(src="images/edu-full.png")
    p Click here to view it.