h2 Penal Sytem Online Leaflet 
p This was a contest we won for a company where I did a freelance job for the goverment of panama, on how to explain the new penal resolution, only 1 day, and we won!
p This was developed using CSS and responsive media queries from 980px.

a(target="_blank", href="penal")
    img.portfolio-image(src="images/penal-full.png")
    p Click here to view it.
