h2 Poker Chips Manager

p A Poker Chips Manager app to handle all those Friday games with your friends, you won’t ever again lose your coins on the table anymore! You will save your precious time to do something else instead of running back at your place for a bag of fake money!.

a(target="_blank", href="https://play.google.com/store/apps/details?id=air.PokerChipsManager")
    img.portfolio-image(src="images/poker-full.png")
    p Click here to view it.
