h2 Centauro WP SMS Share plugin.    
p Centauro Share (Social Share Plugin with custom WordPress options)

p This is a Wordpress plugin with custom options about sharing, that blocks by IP and IP attempts the Sending of an SMS text if you have contracted Centauro SMS from Venezuela, it works only for Venezuelan mobile phones.

p The plugin shows you a basic functionality on how to create a database properly using Wordpress built in Syntax, so that everything is done properly.

p Also, in the WordPress's backend you will be able to view how to setup features and store them in the WordPress Database properly.

a(target="_blank", href="https://github.com/ingdsag/centauro-share")
    p Click here to view the source at github.
