h2 World War 2 Trivia Game
p World War 2 Trivia Game: With more than 60.000 Downloads, and a growing community an AS3 app for android!

a(target="_blank", href="https://play.google.com/store/apps/details?id=air.WorldWarIITriviaGame") 
    img.portfolio-image(src="images/ww2-full.png")
    p Click here to view it.
