.page-header
    h1 Codehater
p.lead
p Welcome to my portfolio website, it was created to expose the projects that I was legally entitled to post in my portfolio as either my Own projects or as freelance projects, I've worked for many companies around the world, and I have learned many technologies and languages, one of the companies I'm working recently is working with angular, so I decided to extrapolate a few of my knowledge in design patterns from AS3 to JavaScript, and I have to say, angular is easy, and the learning curve is almost a straight line.
p This portfolio was created using npm, bower, HTML5, CSS3, SCSS, AngularJS, JavaScript, jQuery, jade (pug), gulp (and its many plugins).
p Of course that so many technologies may look like an overkill but, it was done in 2 days, angular made that possible.
p So you can see this angular portfolio at 
    a(href="https://github.com/ingdsag/codehaternew", target="_blank") github
    
h2
p

h2 Products Developed
p Some of my projects developed using my main Frontend Technologies
include products.jade
div.clearfix
div.spacer-30