.page-header
    h1 Codehater
p.lead
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo in nulla et semper. Praesent venenatis, turpis vel rhoncus posuere, ex arcu auctor dolor, vel egestas magna felis quis sapien. Maecenas sagittis tempor tincidunt. Phasellus aliquet viverra rhoncus. Integer pulvinar diam felis, eu pretium nisi faucibus vel. Vestibulum nibh dui, vulputate sed est id, cursus fringilla sem. Mauris iaculis luctus fringilla.

