footer.footer
    .container
        p This website was made with angularJS 1.5.8, you can view the source code at 
            a(href='https://github.com/ingdsag/codehaternew', target='_blank') https://github.com/ingdsag/codehaternew