head
    title Codehater.com - Don't hate the coder, hate the code.
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    link(rel="stylesheet", href="css/styles.css")
    script(src='./app/lib.js')
    script(src='./app/app.js')
    link(rel="icon", href="favicon.ico?v=1000")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
