nav.navbar.navbar-fixed-top
    .container
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='#/') Codehater Logo
                li
                    a(target='_blank', href='https://github.com/ingdsag/codehaternew') Repository of this website
                li
                    a(href='#mycv') My CV
            // /input-group
