nav.navbar.navbar-fixed-top
    .container
        span.codehater-logo Codehater
        span.logo-slogan Don't hate the coder, hate the code!
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.pull-right
                li
                    a(href='#/', ng-class='{active: vm.activeTab == "index"}') Portfolio
                li
                    a(href='#mycv', ng-class='{active: vm.activeTab == "mycv"}') My CV
                li
                    a(target='_blank', href='https://github.com/ingdsag/codehaternew') Repository of this website
            // /input-group
div.container
    h2.title Codehater: Daniel's portfolio.
    img.container.banner(src='images/banner.png')
    